.nav-bar {
    position: fixed;
    background-color: white;
    bottom: 0;
    top: 53px;
    left: 0;
    width: 75px;
    z-index: 100;
}
.one-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.nav-icons {
    width: 25px;
}
.nav-text {
    font-size: 10px;
    margin-top: 6px;
}
@media (max-width: 480px) {
    .nav-icons {
        width: 18px;
    }
    .nav-text {
        font-size: 7px;
        margin-top: 3px;
    }
    .nav-bar {
        width: 50px;
        top: 40px;
    }
    body {
        margin-left: 70px;
        margin-top: 70px;
        margin-bottom: 100px;
    }
}
@media (min-width: 1200px) {
    body {
        margin-left: 223px;
    }
    .nav-bar {
        width: 200px;
    }
    .one-div {
        display: grid;
        grid-template-columns: 30px 1fr;
        margin-left: 30px;
    }
    .nav-text {
        margin-left: 15px;
    }

}