.dropdown-div {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}
.dropdown-content {
    display: none;
    padding: 0;
    margin-top: 20px;
}
.dropdown-btn {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 18px;
} 
.drop-down {
    margin-right: 25px;
}
.one-div2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0;
    border: none;
}
.drop-up {
    width: 20px;
    background-color: white;
}
.drop-up-text {
    font-size: 14px;
    margin-left: 25px;
}
.svg {
    width: 23px;
}
.dropdown-btn:focus + .dropdown-content {
    display: block;
}

.dropdown-content li {
    list-style: none;
    padding: 0;
}

/*.close {
    position: absolute;
    top: 0px;
    left: 150px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 30px;
    background-color: rgb(206, 206, 206);
}*/
